.filter.filter-with-autocomplete
	%span.inline= link_to "Work types", '#', id: "show-autocomplete"
	%span.inline.autocomplete#autocomplete
		= form_tag teams_path, method: :get, class: "hide" do
			= hidden_field_tag :filter, 'filter'
			= hidden_field_tag :column, 'works'
			.input-append
				= autocomplete_field_tag :value, "", autocomplete_works_name_teams_path, :"data-delimiter" => ', '
				= submit_tag "Show", class: 'btn btn-primary'