.dropdown.filter
	= link_to column, '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown'
	%ul.dropdown-menu
		- objects.each do |obj|
			- case table
				- when "belongs"
					%li= filter "#{column.downcase}_id", obj.name, obj.id
				- when "this"
					%li= filter "#{column.downcase}", obj.name