= form_for @team, html: {class: 'form'} do |f|
	.control-group
		= f.label :country_id, "Country", class: 'control-label'
		.controls
			= f.collection_select :country_id, Country.all, :id, :name
	.control-group
		= f.label :name, class: 'control-label'
		.controls
			= f.text_field :name
	.control-group
		= f.label :count, class: 'control-label'
		.controls
			= f.text_field :count
	.control-group
		= f.label :work_list, "Works", class: 'control-label'
		.controls
			= f.autocomplete_field :work_list, autocomplete_works_name_teams_path, :"data-delimiter" => ', '
	.control-group
		= f.label :cost, class: 'control-label'
		.controls
			= f.text_field :cost
	.control-group
		.controls
			= f.submit "OK", class: 'btn btn-large btn-success'