.page-header
	%h1 List of works

%section.list-of-items
	%table.table.table-bordered	
		%thead
			%th #
			%th Work
			%th Teams count
		%tbody
			- @works.each_with_index do |work, i|
				%tr
					%td= i + 1
					%td.name= filter "works", work.name
					%td.teams_count= tagged_teams_count(work.name)