- if request.path != '/'
	#navbar.navbar
		.navbar-inner
			%ul.nav
				%li= link_to "Home", root_path
				%li= link_to "Teams", teams_path
				%li= link_to "Works", works_path
				%li= link_to "Countries", countries_path