.hero-unit
	%h1 Welcome collaborators
	%p
		Для просмотра функционала моделей, нажмите на одну из ссылок ниже.
%section.main-links
	%ul.unstyled
		%li= link_to "Teams", teams_path, class: 'btn btn-large btn-warning'
		%li= link_to "Works", works_path, class: 'btn btn-large btn-info'
		%li= link_to "Countries", countries_path, class: 'btn btn-large btn-info' 
