.page-header
	%h1 List of countries

%section.list-of-items
	%table.table.table-bordered	
		%thead
			%th #
			%th Name
			%th Teams count
		%tbody
			- @countries.each_with_index do |country, i|
				%tr
					%td= i + 1
					%td= country.name
					%td= country.teams.count
%section.user-controls
	= link_to "Add new country", new_country_path, class: 'btn btn-large btn-primary'