.page-header
	%h1 Adding new country

%section.creating
	= form_for @country, url: countries_path, html: {class: 'form'} do |f|
		.control-group
			= f.label :name, class: 'control-label'
			.controls
				= f.text_field :name
		.control-group
			.controls
				= f.submit "OK", class: 'btn btn-large btn-success'